<div id="header-info">
    <span id="location-tag">
        <svg class="icon" width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5166 0.951904C8.04571 0.952152 10.0956 3.00284 10.0957 5.53198C10.0957 9.54274 5.57014 12.558 5.5166 12.5935C5.5166 12.5935 0.936523 9.48133 0.936523 5.53198C0.936589 3.00268 2.98729 0.951904 5.5166 0.951904ZM5.5166 3.60132C4.52998 3.60132 3.72949 4.40083 3.72949 5.38745C3.72952 6.37405 4.52999 7.17358 5.5166 7.17358C6.50301 7.17335 7.30271 6.37391 7.30273 5.38745C7.30273 4.40097 6.50303 3.60155 5.5166 3.60132Z" fill="#FFFFFF"/>
        </svg>NORTH OAKLAND
    </span>
    <div id="info-rotator">
        <span id="localTime"></span>
        <span id="localDate"></span>
        <span id="localWeather">⛅</span>
    </div>
</div>
<div id="header">
    <a href="/"><img id="site-logo" src="/static/img/flyerLogo.svg" alt="The Flyer logo"></a>
</div>
<% if (typeof showNav === 'undefined' || showNav) { %>
<div id="navigation">
    <a href="/"><span class="button <%= activeNav === 'digest' ? '' : 'inactive' %>">ZINE</span></a>
    <a href="/convo"><span class="button <%= activeNav === 'convo' ? '' : 'inactive' %>">DISCUSS</span></a>
    <a href="/events"><span class="button <%= activeNav === 'events' ? '' : 'inactive' %>">LOCAL EVENTS</span></a>
</div>
<% } %>
