<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header', { activeNav: 'convo' }) %>
    <main>
        <p id="intro">Here is a space to share thoughts on local issues. If there's something you think we should be talking about, <a href="mailto:humphrey@letsstudio.org">contact me.</a></p>
        <div class='polis' data-conversation_id='4jcm6hkeje'></div>
    </main>

    <script async src='https://pol.is/embed.js'></script>
    <%- include('partials/scripts') %>
</body>
</html>
