<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header', { activeNav: 'digest' }) %>
    <main>
        <p id="intro">"The Flyer" is a hub for North Oakland neighbors. All are welcome to <a href="/submit">contribute</a> ideas/events, or <a href="https://buttondown.com/theflyer" target="_blank" rel="noreferrer">subscribe</a> to the email newsletter.</p>
        <div id="carousel">
            <a href="/issues/nov-25"><img src="/static/img/nov25.jpg"></a>
            <img src="/static/img/oct25.jpg">
            <a href="/issues/sep-25"><img src="/static/img/sep25.jpg"></a>
            <a href="/issues/aug-25"><img src="/static/img/aug25.jpg"></a>
            <a href="/issues/jul-25"><img src="/static/img/jul25.jpg"></a>
        </div>
        <div class="issues">
            <a href="/issues/nov-25"><div class="issue" id="nov-25">
                <h3>NOVEMBER 2025</h3>
                <p class="marq">COMMUNITY FOOD RESOURCES • LET THE ATHLETIC FIELDS REST! • COMMUNITY GARDEN APPLICATIONS OPEN • COMMUNITY FOOD RESOURCES • LET THE ATHLETIC FIELDS REST! • COMMUNITY GARDEN APPLICATIONS OPEN • COMMUNITY FOOD RESOURCES • LET THE ATHLETIC FIELDS REST! • COMMUNITY GARDEN APPLICATIONS OPEN •</p>
            </div></a>
            <a href="/issues/sep-25"><div class="issue" id="sep-25">
                <h3>SEPTEMBER 2025</h3>
                <p class="marq">YE OLDE IDORA AMUSEMENT PARK • PROGRESS ON THE PARK • TROMBONE MUSIC AT NICK'S • YE OLDE IDORA AMUSEMENT PARK • PROGRESS ON THE PARK • TROMBONE MUSIC AT NICK'S • YE OLDE IDORA AMUSEMENT PARK • PROGRESS ON THE PARK • TROMBONE MUSIC AT NICK'S •</p>
            </div></a>
            <a href="/issues/aug-25"><div class="issue" id="aug-25">
                <h3>AUGUST 2025</h3>
                <p class="marq">BACK-TO-SCHOOL SUPPORT • FOLLOW-UP ON BUSHROD PARK POLL • MAKING WINE FROM NEIGHBORHOOD TREES • BACK-TO-SCHOOL SUPPORT • FOLLOW-UP ON BUSHROD PARK POLL • MAKING WINE FROM NEIGHBORHOOD TREES</p>
            </div></a>
            <a href="/issues/jul-25"><div class="issue" id="jul-25">
                <h3>JULY 2025</h3>
                <p class="marq">BUSHROD PARK IS A GEM • A NEW POLLINATOR GARDEN • PSYCH ROCK AT THE STARRY PLOUGH BUSHROD PARK IS A GEM • A NEW POLLINATOR GARDEN • PSYCH ROCK AT THE STARRY PLOUGH</p>
            </div></a>
        </div>
    </main>
    <%- include('partials/scripts') %>
    <script>
        const carousel = document.getElementById('carousel');
        const images = carousel.querySelectorAll('img');
        function getRandomFloat(min, max) {
            return Math.random() * (max - min) + min;
        }
        images.forEach(img => {
            img.style.setProperty('--rotation', `${getRandomFloat(-3,3)}deg`);
        });
    </script>
</body>
</html>
