@font-face {
    font-family: 'Chaney Wide';
    src: url('/fonts/CHANEY-Wide.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Chaney';
    src: url('/fonts/CHANEY-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #FFF9E4;
}
/* Extra small devices (phones, 600px and down) */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: "Chaney Wide", sans-serif;
    color: #036746;
    text-align: left;
    font-weight:normal;
    line-height: 0.9;
}
p {
    margin-bottom: 10px;
    font-family: "Space Grotesk", sans-serif;
    color: #6E5400;
    font-size: 1rem;
}
ul, ol {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    color: #6E5400;
}
span {
    font-family: "DM Mono", monospace;
    color: #6E5400;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #f75910;
}
header {
    margin-bottom: 20px;
}
#header {
    padding: 0px 15px;
}
#banner { 
    width: 100%;
    padding: 10px 0px;
    background-color: #036746;
    color: white;
    font-family: "DM Mono", monospace;
    text-align: center;
    height: auto;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    margin-inline-end: 0.5em; /* Optional: Add some space between icon and text */
}
#header-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
header img {
    width: 100%;
    height: auto;
}
#header-info span {
    display: block;
    font-size: 1.2em;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    letter-spacing: 2.8px;
    color: #036746;
}
#header-buttons {
    display: flex;
    gap: 10px;
}
#navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 0.9rem;
    margin-top: 20px;
}

main {
    padding: 0.5rem 1rem;
}

.issue-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    padding: 10px 0;
    color: white;
    text-align: center;
    background-color: #036746;
}
.issue-title h1 {
    font-family: "Chaney Wide", sans-serif;
    margin: 0;
    color: white;
}
.issue {
    display: inline-block;
    padding: 15px 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
.issue:hover {
    background-color: #ffee906f;
}
.issue h3 {
    margin: 0;
    margin-left:10px;
    font-size: 2rem;
    color: #036746;
    font-family: "Chaney Wide";
    font-weight: normal;
}
.issue p {
    display: inline-block;
    margin: 0;
    width: 100%;
    color: #6E540066;
    font-family: "Chaney";
    font-size: 1.4rem;
    animation: marquee 8s linear infinite;
}
.button {
    background-color: #F86E1F;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "DM Mono", monospace;
    text-transform: capitalize;
}
.button:hover {
    background-color: #f75910cc;
}
.inactive {
    background-color: transparent;
    color: #6E5400;
}
.inactive:hover {
    background-color: #6e540020;
}

#carousel {
    display: inline-block;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#carousel img {
    height: 90%;
    border-radius: 10px;
    margin: 0px 20px;
    box-shadow:#6e54005d 0px 0px 20px;
    transform: rotate(var(--rotation, 3deg)) translateY(5%);
    transition: 0.2s;
}
#carousel img:hover {
    transform: rotate(0deg) translateY(2%);
    box-shadow:#6e5400b3 0px 0px 0px;
    opacity: 0.9;
}
/*
#carousel img:first-child {
    margin-left: 50px;
}
#carousel img:last-child {
    margin-right: 50px;
}  
*/ 
@keyframes marquee {
    100% { transform: translateX(-200%); }
}

@media only screen and (min-width: 900px) {
    main {
        width:50%;
        margin: auto;
    }
    header {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 3rem;
        margin-top: 1rem;
        line-height: 0.9;
    }
    h2 {
        font-size: 2.4rem;
        margin-top: 1rem;
        line-height: 0.9;
    }
    h3 {
        font-size: 2.2rem;
    }
    .issue p {
        animation: marquee 12s linear infinite;
    }
}
